
<%- include('../partials/header') %>
<h1>Current phase : Registration%></h1>
<button type="button" style="position:absolute; top:60%;" class="btn btn-primary">Change phase</button>
<%- include('../partials/footer') %>
