<%- include('partials/header') %>



    <a class="btn btn-light btn-lg" style="position:absolute;top:60%" href="/users" role="button">USER SIGN-UP/LOGIN</a>
    <a class="btn btn-dark btn-lg" href="/admin" role="button">ADMIN LOGIN</a>


<%- include('partials/footer') %>
