<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">

	<title>Voting System</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<link rel="stylesheet" href="css/userStyle.css">
</head>

<body>
	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<h6 style="color:black;" cd down class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
						<input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
						<label for="reg-log"></label>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">

								<div class="card-front">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 style="color:black;" class="mb-4 pb-3">Log In</h4>
											<form class="" action="/users" method="post">
											<div class="form-group mt-2">

												<input type="email" name="logemail" class="form-style" placeholder="Your Email"  autocomplete="off">
												<i class="input-icon uil uil-at"></i>
											</div>
											<div class="form-group mt-2">
												<input type="password" name="logpass" class="form-style" placeholder="Your Password"  autocomplete="off">
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
												<button class="btn mt-4">Log In</button>
											</form>
										</div>
									</div>
								</div>






									<div class="card-back">
										<div class="center-wrap">
											<div class="section text-center">
												<h4 class="mb-4 pb-3">Sign Up</h4>


                      <form class="" action="/users" method="post">
												<div class="form-group mt-2">
													<input type="email" name="signemail" class="form-style" placeholder="Your Email" autocomplete="off">
													<i class="input-icon uil uil-at"></i>
												</div>
												<div class="form-group mt-2">
													<input type="password" name="signpass" class="form-style" placeholder="Your Password" autocomplete="off">
													<i class="input-icon uil uil-lock-alt"></i>
												</div>
												<button class="btn mt-4">Sign Up</button>
												</form>


											</div>
										</div>
									</div>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<%- include('partials/footer') %>
