
<%- include('../partials/header') %>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Aadhar number</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Aadhar number">
    <small id="emailHelp" class="form-text text-muted">We'll never share your Aaadhar with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Account address</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Account address">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include('../partials/footer') %>
